<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .fixTableHead {
            overflow-y: auto; 
            height: 400px;
            border: 1px solid #000000;
        }
        .fixTableHead thead th {
            position: sticky;
            top: 0;
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th {
            background: #000000;
            color: #fff;
        }
        th,td {
            padding: 8px 15px;
        }
        p{
            padding: 10px;
        }
    </style>
</head>
<body>  
    <p>File Name: {{filename}}</p>
    <form action="/file/result" method="post">
        {%if not activate%}
        <p>Select the output feature of your model:</p>
        {%endif%}
        <div class="fixTableHead">
            <table border="1" id="table">
                <thead>
                    {% for feature in data.columns %}
                    <th>
                        {%if not activate%}
                        <input type="radio" name="feature" value="{{feature}}"/>
                        {%endif%}
                        {{feature}}</th>
                    {% endfor %}
                </thead>
                <tbody id="tableBody">
                    {% for index,row in data.iterrows() %}
                        <tr>
                            {% for column in data.columns %}
                                <td>{{row[column]}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {%if not activate%}
        <div>
            <label for="model">Model:</label>
            <select name="model" id="model">
                <option value="LogisticRegression">Logistic Regression</option>
                <option value="SVC">SVC</option>
                <option value="RandomForestClassifier">Random Forest Classifier </option>
                <option value="GradientBoostingClassifier">Gradient Boosting Classifier</option>
                <option value="AdaBoostClassifier">AdaBoost Classifier</option>
                <option value="XGBClassifier">XGB Classifier</option>
                <option value="LGBMClassifier">LightGBM Classifier</option>
                <option value="GaussianNB">Naive Bayes</option>
                <option value="MLPClassifier">MLP Classifier</option>
                <option value="Ridge">Ridge</option>
                <option value="Lasso">Lasso</option>
                <option value="ElasticNet">ElasticNet</option>
                <option value="LinearRegression">Linear Regression</option>
                <option value="KNeighborsRegressor">KNN</option>
                <option value="SVR">SVR</option>
                <option value="DecisionTreeRegressor">Decision Tree</option>
                <option value="RandomForestRegressor">Random Forest</option>
                <option value="GradientBoostingRegressor">Gradient Boosting</option>
                <option value="AdaBoostRegressor">AdaBoost</option>
                <option value="XGBRegressor">XGBoost</option>
                <option value="LGBMRegressor">LightGBM</option>
                <option value="MLPRegressor">MLP</option>
            </select>
        </div>
        <div style="display: flex;justify-content: left; margin-top: 10px;padding: 10px;">
            <button type="submit" style="width: 100px;height: 30px;background-color: #000000;color: #fff;border-radius: 5px;border: none;">Submit</button>
        </div>
        {%endif%}
    </form>
    {%if activate%}
    <p>Score: {{score}}</p>
    <!--<canvas id="myChart" style="width:100%;max-width:900px;padding-left: 300px;"></canvas>-->
    <img src="{{image}}" alt="image">
    <a href="{{model_path}}" download="{{filename}}">
        <button type="button" style="width: 100px;height: 30px;background-color: #000000;color: #fff;border-radius: 5px;border: none;">Download</button>
    </a>
    <script>
        let xyValues = [];

        {%if activate%}
        {%for i in range(len(predict))%}
        xyValues.push({x:{{data[feature][i]}},y:{{predict[i]}}})
        {%endfor%}
        {%endif%}

        new Chart("myChart", {
            type: "scatter",
            data: {
                labels: ["0","1"],
                datasets: [
                    {
                        pointRadius: 4,
                        pointBackgroundColor: "rgb(0,0,255)",
                        data: xyValues,
                    },
                ],
            },
            options: {
                legend: {
                    display: true,
                    labels: {
                        color: 'rgb(255, 99, 132)'
                    }
                },
                scales: {
                    xAxes: [{ ticks: { min: {{min_value-0.1}}, max: {{max_value+0.1}} } }],
                    yAxes: [{ ticks: { min:{{min_value-0.1}}, max: {{max_value+0.1}} } }],
                },
            },
});
    </script>
    {%endif%}
</body>
</html>