<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <p>File Name: {{filename}}</p>
    <form action="/file/result" method="post">
      <p>Select the output feature of your model:</p>
      <div class="fixTableHead">
        <table border="1" id="table">
          <thead>
            {% for feature in data.columns %}
            <th>
              <input type="radio" name="feature" value="{{feature}}" />
              {{feature}}
            </th>
            {% endfor %}
          </thead>
          <tbody id="tableBody">
            {% for index,row in data.iterrows() %}
            <tr>
              {% for column in data.columns %}
              <td>{{row[column]}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br />
      <div>
        <label for="model1">Model 1:</label>
        <select name="model1" id="model1">
          {%if models%} {%for i in models%}
          <option value="{{i}}">{{i}}</option>
          {%endfor%} {%endif%}
        </select>
        <br/>
        <br/>
        {%if model_based%}
        <label for="model2">Model 2:</label>
        <select name="model2" id="model2">
          {%if models%} {%for i in models%}
            <option value="{{i}}">{{i}}</option>
          {%endfor%} {%endif%}
        </select>
        {%endif%}
      </div>
      <br />
      {%if multi_column%}
      <label for="com_fea1">feature1:</label>
      <select name="com_fea1" id="com_fea1" required>
        {% for feature in data.columns %}
        <option value="{{feature}}">{{feature}}</option>
        {% endfor %}
      </select>
      <br />
      <br />
      <label for="com_fea2">feature2:</label>
      <select name="com_fea2" id="com_fea2" required>
        {% for feature in data.columns %}
        <option value="{{feature}}">{{feature}}</option>
        {% endfor %}
      </select>
      {%endif%}
      <div class="button-container">
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
