<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Model Selector</title>
  </head>
  <body>
    <div class="form-section">
      <h2>File Analysis <span class="product-name">Model Forge</span></h2>
      <p>File Name: <strong>{{filename}}</strong></p>
   
      <form action="/file/result" method="post">
        <div class="chart-container">
          <h3>Select the output feature of your model:</h3>
          <div class="fixTableHead">
            <table id="table">
              <thead>
                {% for feature in data.columns %}
                <th>
                  <input type="radio" name="feature" value="{{feature}}" required/>
                  {{feature}}
                </th>
                {% endfor %}
              </thead>
              <tbody id="tableBody">
                {% for index,row in data.iterrows() %}
                <tr>
                  {% for column in data.columns %}
                  <td>{{row[column]}}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="controls-container">
          <div class="model-selection">
            <h3>Model Selection</h3>
            <div class="form-row">
              <label for="model1">Model 1:</label>
              <select name="model1" id="model1">
                {%if models%} {%for i in models%}
                <option value="{{i}}">{{i}}</option>
                {%endfor%} {%endif%}
              </select>
            </div>
           
            {%if model_based%}
            <div class="form-row">
              <label for="model2">Model 2:</label>
              <select name="model2" id="model2">
                {%if models%} {%for i in models%}
                  <option value="{{i}}">{{i}}</option>
                {%endfor%} {%endif%}
              </select>
            </div>
            {%endif%}
          </div>
         
          {%if multi_column%}
          <div class="feature-comparison">
            <h3>Feature Comparison</h3>
            <div class="form-row">
              <label for="com_fea1">Feature 1:</label>
              <select name="com_fea1" id="com_fea1" required>
                {% for feature in data.columns %}
                <option value="{{feature}}">{{feature}}</option>
                {% endfor %}
              </select>
            </div>
           
            <div class="form-row">
              <label for="com_fea2">Feature 2:</label>
              <select name="com_fea2" id="com_fea2" required>
                {% for feature in data.columns %}
                <option value="{{feature}}">{{feature}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {%endif%}
          
          <div class="button-container">
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>