<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    {%if render%}
    <p>File Name: {{filename}}</p>
    <form action="/file/result" method="post">
      {%if not activate%}
      <p>Select the output feature of your model:</p>
      {%endif%}
      <div class="fixTableHead">
        <table border="1" id="table">
          <thead>
            {% for feature in data.columns %}
            <th>
              {%if not activate%}
              <input type="radio" name="feature" value="{{feature}}" />
              {%endif%} {{feature}}
            </th>
            {% endfor %}
          </thead>
          <tbody id="tableBody">
            {% for index,row in data.iterrows() %}
            <tr>
              {% for column in data.columns %}
              <td>{{row[column]}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br />
      {%if not activate%}
      <div>
        <label for="model1">Model:</label>
        <select name="model1" id="model1">
          {%if models%} {%for i in models%}
          <option value="{{i}}">{{i}}</option>
          {%endfor%} {%endif%}
        </select>
        <br />
        <br />
        {%if model_based%}
        <label for="model2">Model:</label>
        <select name="model2" id="model2">
          {%if models%} {%for i in models%}
          <option value="{{i}}">{{i}}</option>
          {%endfor%} {%endif%}
        </select>
        {%endif%}
      </div>
      <br/>
      {%if multi_column%}
      <label for="feature1">feature1:</label>
      <select name="feature1" id="feature1">
        {% for feature in data.columns %}
          <option value="{{feature}}">{{feature}}</option>
        {% endfor %}
      </select>
      <br />
      <br />
      <label for="feature2">feature2:</label>
      <select name="feature2" id="feature2">
        {% for feature in data.columns %}
          <option value="{{feature}}">{{feature}}</option>
        {% endfor %}
      </select>
      {%endif%}
      <div
        style="
          display: flex;
          justify-content: left;
          margin-top: 10px;
          padding: 10px;
        "
      >
        <button
          type="submit"
          style="
            width: 100px;
            height: 30px;
            background-color: #000000;
            color: #fff;
            border-radius: 5px;
            border: none;
          "
        >
          Submit
        </button>
      </div>
      {%endif%}
    </form>
    {%if activate%}
    <p>Score 1: {{score1*100}}%</p>
    {%if score2%}
    <p>Score 2: {{score2*100}}%</p>
    {%endif%}
    <!--<canvas id="myChart" style="width:100%;max-width:900px;padding-left: 300px;"></canvas>-->
    <img src="{{image1}}" alt="image" />
    {%if confusionMatrix1%}
    <img src="{{confusionMatrix1}}" alt="confusion" />
    {%endif%} {%if image2%}
    <img src="{{image2}}" alt="image" />
    {%endif%} {%if confusionMatrix2%}
    <img src="{{confusionMatrix2}}" alt="confusion" />
    {%endif%}
    <a href="{{model_path}}" download="{{filename}}">
      <button
        type="button"
        style="
          width: 100px;
          height: 30px;
          background-color: #000000;
          color: #fff;
          border-radius: 5px;
          border: none;
        "
      >
        Download
      </button>
    </a>
    <script>
              let xyValues = [];

              {%if activate%}
              {%for i in range(len(predict1))%}
              xyValues.push({x:{{data[feature][i]}},y:{{predict1[i]}}})
              {%endfor%}
              {%endif%}

              new Chart("myChart", {
                  type: "scatter",
                  data: {
                      labels: ["0","1"],
                      datasets: [
                          {
                              pointRadius: 4,
                              pointBackgroundColor: "rgb(0,0,255)",
                              data: xyValues,
                          },
                      ],
                  },
                  options: {
                      legend: {
                          display: true,
                          labels: {
                              color: 'rgb(255, 99, 132)'
                          }
                      },
                      scales: {
                          xAxes: [{ ticks: { min: {{min_value-0.1}}, max: {{max_value+0.1}} } }],
                          yAxes: [{ ticks: { min:{{min_value-0.1}}, max: {{max_value+0.1}} } }],
                      },
                  },
      });
    </script>
    {%endif%} {%endif%}
  </body>
</html>
